@{
    ViewBag.Title = "title";
    Layout = "HomeLayout";
}

<div class="container-fluid p-0">
    <!-- About-->
     @await Component.InvokeAsync("ShowAdmin") 
    <hr class="m-0" />
    <!-- Experience-->
    @await Component.InvokeAsync("ShowExperience")
    <hr class="m-0" />
    <!-- Education-->
    @await Component.InvokeAsync("ShowEducation")
    <hr class="m-0" />
    <!-- Skills-->
    @await Component.InvokeAsync("ShowSkill")
    <hr class="m-0" />
    <!-- Projects-->
    @await Component.InvokeAsync("ShowProject")
    <hr class="m-0" />
    <!-- Languages-->
    @await Component.InvokeAsync("ShowLanguage")
    <hr class="m-0" />
</div>
