@model EntityLayer.Concrete.Skill

@{
    ViewBag.Title = "ResumeDemo - Edit Skill";
    Layout = "DashboardLayout";
}

<h2>Edit Skill</h2>
<br/>
@using (Html.BeginForm("AddSkill", "Skill", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SkillId, new { @class = "form-control" })
    
    @Html.Label("Name")
    @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.SkillName)
    <br/>
    <button class="btn btn-info">Update</button>
}
