@using EntityLayer.Concrete
@model List<About>

<section class="resume-section" id="about">
    <div class="resume-section-content">
        @foreach (var item in Model)
        {
            <h1 class="mb-0">
                @item.AboutFullName
            </h1>
            <div class="subheading mb-5">
                <a href="mailto:@item.AboutMail">@item.AboutMail</a>
            </div>
            <p class="lead mb-5">@item.AboutDetails</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/@item.AboutLinkedIn/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/@item.AboutGitHub/"><i class="fab fa-github"></i></a>
            </div> 
        }
    </div>
</section>