@model EntityLayer.Concrete.Admin

<a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">@Model.AdminFullName</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/assets/@Model.AdminImage" alt="..." /></span>
            </a>

